body{background-color:aquamarine}.body-background{position:relative;height:100%;width:100%;top:0;display:block}.navbar{overflow:hidden;margin:60px 0 0;-webkit-transform:transform(0, 100px, 0);-ms-transform:transform(0, 100px, 0);transform:transform(0, 100px, 0);-webkit-transition:-webkit-transform 400ms ease-out;transition:transform 400ms ease-out}.addBackground{-webkit-animation-name:rainbow-beats;animation-name:rainbow-beats;-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-timing-function:ease;animation-timing-function:ease;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-play-state:running;animation-play-state:running}.header{width:100%;height:500px;overflow:hidden;padding:150px 0;text-align:center;position:fixed;top:0;display:table}.header h1{color:white;font-family:-apple-system;font-weight:100;font-size:200px}.bottom-border{position:fixed;left:0;right:0;bottom:0;height:20px;z-index:10}.top-border{position:fixed;left:0;right:0;top:0;height:120px;z-index:10;opacity:0}.page-container{border:20px solid transparent;border-bottom-width:60px;margin-top:500px}.page{background-color:white;min-height:5000px}body.has-scrolled .navbar{-webkit-transform:translate3d(0, -30px, 0);transform:translate3d(0, -30px, 0)}body.has-scrolled .top-border{opacity:1}body.has-scrolled .addBackground,body.has-scrolled.addBackground{-webkit-animation-name:beats;animation-name:beats}@-webkit-keyframes beats{0%,
  20%,
  40%,
  60%,
  80%,
  100%{background-color:cyan}10%,
  30%,
  50%,
  70%,
  90%{background-color:magenta}}@keyframes beats{0%,
  20%,
  40%,
  60%,
  80%,
  100%{background-color:cyan}10%,
  30%,
  50%,
  70%,
  90%{background-color:magenta}}@-webkit-keyframes rainbow-beats{0%{background-color:#0e245a}10%{background-color:#213f8c}20%{background-color:#21539a}30%{background-color:#2f6dab}40%{background-color:#3178b8}50%{background-color:#2a73b5}60%{background-color:#2c5194}70%{background-color:#3e3a83}80%{background-color:#5a468a}90%{background-color:#854a77}100%{background-color:#0e245a}}@keyframes rainbow-beats{0%{background-color:#0e245a}10%{background-color:#213f8c}20%{background-color:#21539a}30%{background-color:#2f6dab}40%{background-color:#3178b8}50%{background-color:#2a73b5}60%{background-color:#2c5194}70%{background-color:#3e3a83}80%{background-color:#5a468a}90%{background-color:#854a77}100%{background-color:#0e245a}}@-webkit-keyframes dark-beats{0%,
  20%,
  40%,
  60%,
  80%,
  100%{background-color:#0df2f2}10%,
  30%,
  50%,
  70%,
  90%{background-color:#f20df2}}@keyframes dark-beats{0%,
  20%,
  40%,
  60%,
  80%,
  100%{background-color:#0df2f2}10%,
  30%,
  50%,
  70%,
  90%{background-color:#f20df2}}
